@import "tailwindcss";
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F1E9;
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}